.column{
    width: 200px;
    height: 200px;
    border:1px solid black;
    padding: 10px;
    margin: 2px;
    text-align: center;
}
.task-card.completed .task-title {
    text-decoration: line-through;
    opacity: 0.5;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}